/* ==================== Reset & Base ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(247, 189, 135);
  color: #222;
  transition: background 0.4s, color 0.4s;
  z-index: 0;
  position: relative;
}

body.dark-mode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 42, 0.986);
  z-index: -1;
}

/* ==================== Navbar ==================== */
.navbar {
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
  transition: background 0.4s;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: auto;
}

.logo span {
  font-size: 1.4em;
  font-weight: 600;
  color: #ffcc00;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}

.controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.theme-btn {
  background: transparent;
  border: 2px solid #ffcc00;
  color: #ffcc00;
  font-size: 18px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  transition: 0.3s;
}

.theme-btn:hover {
  background-color: #ffcc00;
  color: #222;
}

.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Light & Dark Mode */
body.dark-mode {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

body.dark-mode .nav-links li a {
  color: #ddd;
}

body.dark-mode .nav-links li a:hover {
  color: #ffcc00;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 65px;
    right: -100%;
    background: #222;
    flex-direction: column;
    width: 200px;
    text-align: center;
    transition: right 0.4s ease;
    padding: 20px 0;
  }

  .nav-links.active {
    right: 0;
  }

  .menu-toggle {
    display: block;
  }
}

/* ==================== Welcome Section ==================== */
.Welcome{
  background-image: url(../img/main-section-bg.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  height: 100vh;
  box-shadow:  0 15px 15px  rgba(255, 0, 0, 0.6);
  position: relative;
}

.Welcome-h {
  width: 50%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .5rem;
  margin-top: 10%;
  margin-left: 15px;
  font-size: 3.5rem;
  text-align: center;
  font-family: "Lora", serif;
  color: #ffcc00;
}

.Welcome-p {
  float: left;
  color: #e7e7e7;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  width: 50%;
  margin-left: 20px;
  padding: 15px 20px;
  font-family: "Lora", serif;
}

body.dark-mode .Welcome-p {
  color: #e7e7e7;
}

.Welcome-img {
  margin-right: 6%;
  margin-top: 0%;
  float: right;
  height: 60%;
  width: 40%;
}

.button {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: #fdae04;
  padding: 1rem 1.5rem;
  margin-left: 20%;
  border-radius: 4rem;
  color: #fff;
  font-weight: initial;
  transition: background .3s;
  text-decoration: none;
}

.button i {
  font-size: 1.5rem;
  transition: transform .3s;
}

.button:hover {
  background-color: #e2c000;
}

.button:hover i {
  transform: translateX(.25rem);
}

/* ==================== About Section ==================== */
.about {
  width: 100%;
  padding: 1%;
  height: 80vh;
  color: #816802;
  margin-top: 5%;
}

.about p {
  font-size: 3rem ;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.section__subtitle {
  text-align: center;
  justify-content: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about .container .photo {
  width: 45%;
  float: left;
   justify-items: center;
   display: grid;
    grid-template-columns: repeat(2, 1fr); /* عمودين */
    gap: 6px; /* المسافة بين الصور */
    /* width: 400px; عرض الديف */
    /* margin: 100px auto; */
}

.about .container .photo img {
  width: 75%;
  transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
}
 /* الحالة العادية (قبل ظهورها) */
  .img1 { transform: translateX(-100px); }
  .img2 { transform: translateX(100px); }
  .img3 { transform: translateX(-100px); }
  .img4 { transform: translateX(100px); }

  /* الحالة بعد الظهور في الشاشة */
  .show {
    transform: translateX(0);
    opacity: 2;
  }
.about .data {
  float: right;
  width: 45%;
  margin-top: 5%;
  padding: 10px;
}

/* body.dark-mode .about .data {
  background-color: rgba(0, 0, 0, 0.4);
} */

.about .data h2 {
  font-size: 35px;
  text-transform: uppercase;
}

.about .data p {
  font-size: 1.2rem;
  margin-top: 15px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body.dark-mode .about .data p {
  color: #fff;
}

/* ==================== Popular Section ==================== */
.pobular {
  color: #816802;
  text-align: center;
  width: 100%;
  padding: 1% 5%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.best-desh {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 20px 50px hsla(19, 67%, 26%, 0.08);
  border-radius: 1rem;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(0.5px);
  background-color: rgba(255, 255, 255, 0.4);
}

.best-desh:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

body.dark-mode .best-desh {
  background-color: rgba(0, 0, 0, 0.4);
}

.best-desh img {
  margin: 20px;
  width: 70%;
  height: 45%;
}

.pobular_title {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
  color: #816802;
  font-size: 3rem ;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.popular_price {
  color: rgb(175, 3, 3);
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}

.button2 {
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: #816802;
  padding: 1rem 1.5rem;
  border-radius: 4rem;
  color: #fff;
  transition: background .3s;
  text-decoration: none;
  margin-top: 10px;
}

.button2 i {
  font-size: 1.5rem;
  transition: transform .3s;
}

.button2:hover {
  background-color: #d8ad03;
}

.button2:hover i {
  transform: translateX(.25rem);
}

/* ==================== Team Section ==================== */
.team {
  text-align: center;
  padding: 10px 20px;
  color: #816802;
  margin-bottom: 50px;
}

.team h2 {
  margin: 10px;
  font-size: 3rem;
  color: #816802;
  font-size: 3rem ;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.team-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}

.member {
  padding: 25px;
  border-radius: 10px;
  transition: transform 0.3s;
}

.member:hover {
  transform: translateY(-5px);
}

.photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto 15px;
}

.member h3 {
  font-size: 1.4rem;
}

.member .role {
  color: #440f0f;
  font-weight: 600;
  margin: 6px 0;
  font-size: 1.2rem;
  font-family:Arial, Helvetica, sans-serif;
}
body.dark-mode .member .role{
  color: #e4e0e0;
}
@media (min-width: 600px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .team-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ==================== Footer ==================== */
.footer {
  background: url(../img/imgfooter.jpg) center/cover no-repeat;
  position: relative;
  height: 60vh;
  padding: 20px 20px 40px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(0,0,0,0.6);
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
  position: relative;
}



.footer > * {
  position: relative;
  z-index: 2;
}

.footer.show {
  animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-container {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 10px;
  position: relative;
  height: 40vh;
}

.imagepr {
  margin-right: 15px;
  width: 150%;
  height: 50vh;
  position: relative;
  top: -50%;
}

.imagepr2 {
  margin-right: 10px;
  width: 150%;
  height: 50vh;
  position: relative;
  top: -50%;
  align-items: end;
  transform: scaleX(-1);
}

/* Footer Info Sections */
.footer-about {
  width: 20%;
}

.footer-about h3 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #e9bb03;
  margin-bottom: 10px;
}

.footer-about p {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 20px;
}

.social-icons a {
  display: inline-block;
  width: 38px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #1f1f1f;
  color: #e9bb03;
  border-radius: 50%;
  margin-right: 8px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #c81e1e;
  color: #fff;
}

/* Footer Links */
.footer-section {
  width: 20%;
  
}

.footer-section h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #e9bb03;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #e7e7e7;
  transition: 0.3s;
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-section ul li a:hover {
  color: #e9bb03;
}

/* Footer Contact */
.footer-section.contact p {
  font-size: 1rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
}

.footer-section.contact i {
  margin-right: 8px;
  color: #c81e1e;
}


/* Footer Bottom */
hr {
  margin: 10px auto 20px;
  border: none;
  height: 1px;
  background: #ddd;
  width: 90%;
}

.footer-bottom {
  text-align: center;
  font-size: 15px;
  color: #e9bb03;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-container {
    text-align: center;
    flex-direction: column;
  }

  .social-icons {
    justify-content: center;
  }
}
