.icon{
    height:6vh ;
    width: 3vw;
    border-radius: 50%;
    justify-content:start;
    padding: .6%;
    border-right: 4px white solid;
    margin-right: 10%;
}
nav{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 9vh;
    background-color: black;
    display: flex;
    overflow: hidden; 
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
nav ul li .chart{
    justify-self: end;
    align-self: end;
}
nav ul li{
        padding: 1.5%;
        width: 100%;
        text-align: center;
    border-right:2px solid white;
}
nav ul .home{
    border-left:2px solid white ;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: .5s;
    
}
nav ul li:hover{
    transform: scale(1.1);
    box-shadow:10px 0 10px -5px white,
                -10px 0 10px -5px white;
        transition: .5s;
        background-color: black;
}
nav ul li:hover a{
    color: red;
    padding-bottom: 1%;
    border-bottom:2px solid red ;
    transition: .5s;
}
nav ul li a i{
    font-size: larger;
    padding-bottom: 1%;
    border-bottom:2px solid red ;
}